<!doctype html>

    <head>
    
        <title> Sylius e-commerce platform. </title>
        <meta charset="utf-8">
    
    </head>
    
        <body>
        
            <h1>frontend.</h1>
            
                <ul>
                    <li><a href="{{ path('sylius_theming_theme_list') }}">list themes</a></li>
                </ul>
            
            {% block content %}
            
            {% endblock %}
        
        </body>

</html>
