{% extends 'SyliusThemingBundle::layout.html.twig' %}

{% block content %}

<h2>Frontend theme selection.</h2>

{% if themes %}

<table>
    <thead>
        <tr>
            <th>#id</th>
            <th>name</th>
            <th>options</th>
        </tr>
    </thead>
    
    <tbody>
    {% for theme in themes %}
        <tr>
            <td>{{ theme.id }}</td>
            <td>{{ theme.name }}</td>
            <td>
                <a href="{{ path('sylius_theming_theme_activate', {'id': theme.id}) }}" class="btn primary">activate</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}
    <div class="alert-message info">
      <p><strong>Info!</strong> No installed themes.</p>
    </div>
{% endif %}

{% endblock %}
